In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import requests
import json
from config import api_key

In [37]:
#setting up API url

url = "http://api.eia.gov/series/?api_key="

elect_qua_df = pd.DataFrame(columns = ["State","2020","2019","2018","2017","2016","2015"])
states = ["AL","AK","AZ", "AR","CA","CO","CT", "DE","FL","GA", "HI", "ID", "IL","IN", "IA","KS", "KY","LA","ME","MD",
          "MA","MI","MN", "MS","MO","MT", "NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD",
          "TN","TX","UT","VT","VA","WA","WV","WI","WY"]

#looping through the call to get information calling API
for states in states:
    elec_df_q = requests.get(url+ api_key +"&series_id=ELEC.PRICE."+states+"-ALL.Q").json()
    Q1 = elec_df_q['series'][0]['data'][1][1]
    Q2 = elec_df_q['series'][0]['data'][0][1]
    elec_df_y = requests.get(url+ api_key +"&series_id=ELEC.PRICE."+states+"-ALL.A").json()
    yr_2020 = round((Q1+Q2)/2,2)
    new_row_df = {"State": states,"2020":yr_2020 ,
               "2019":elec_df_y['series'][0]['data'][0][1],
               "2018":elec_df_y['series'][0]['data'][1][1],
               "2017":elec_df_y['series'][0]['data'][2][1],
               "2016":elec_df_y['series'][0]['data'][3][1],
               "2015":elec_df_y['series'][0]['data'][4][1]
                 }
    elect_qua_df = elect_qua_df.append(new_row_df, ignore_index=True)

elect_qua_df.head(25)

   State   2020   2019   2018   2017   2016   2015
0     AL   9.73   9.88   9.63   9.83   9.56   9.33
1     AK  20.15  20.43  19.36  19.10  17.93  17.59
2     AZ  10.30  10.64  10.85  10.64  10.33  10.34
3     AR   8.09   8.13   7.78   8.26   8.13   8.19
4     CA  17.03  17.04  16.58  16.06  15.23  15.42
5     CO   9.93  10.02  10.02   9.99   9.83   9.94
6     CT  19.51  18.75  18.41  17.55  17.24  17.77
7     DE  10.62  10.64  10.55  10.90  11.09  11.17
8     FL  10.12  10.70  10.32  10.42   9.91  10.49
9     GA   9.51   9.53   9.62   9.83   9.59   9.62
10    HI  28.80  28.83  29.18  26.05  23.87  26.17
11    ID   7.84   7.91   8.17   8.26   8.08   8.09
12    IL   9.62   9.45   9.60   9.49   9.38   9.40
13    IN   9.69   9.84   9.75   9.77   9.22   8.99
14    IA   9.05   9.36   8.92   8.73   8.55   8.35
15    KS  10.28  10.25  10.72  10.60  10.49  10.14
16    KY   8.52   8.53   8.52   8.57   8.42   8.14
17    LA   7.21   7.65   7.71   7.79   7.46   7.65
18    ME  13.62  14.08  13.44  13.02  12.80  12.78
19    MD  11.34  11.25  11.57  11.98  12.21  12.07
20    MA  18.27  18.29  18.50  17.12  16.48  16.90
21    MI  12.28  11.70  11.40  11.28  11.05  10.76
22    MN  10.69  10.57  10.37  10.27   9.99   9.53
23    MS   9.18   9.31   9.24   9.09   8.67   9.53
24    MO   9.29   9.45   9.93  10.03   9.74   9.44

In [6]:
#pulling Cost of Living index and setting it as a DF
col_df = pd.read_csv(os.path.join("data", "CostOfLiving.csv"))
#creating a df for just the utilities index
col_util_df = col_df[["State","utilitiesCost"]]
#displaying the index
col_util_df.head()

         State  utilitiesCost
0  Mississippi           89.1
1     Arkansas           91.8
2     Oklahoma           94.1
3     Missouri           99.6
4   New Mexico           87.9

In [ ]:
#pulling population density and saving it as a DF